@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

nav {
    width: 100%;
    background-color: blanchedalmond;
    border-bottom: 5px solid rgb(184, 135, 61);
}

nav span {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Edu QLD Beginner;
    padding: 10px 20px;
    display: inline-block;
    color: rgb(184, 135, 61);
}

a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 100px;
    background-color: rgb(184, 135, 61);
    border-radius: 10px;
    font-family: Edu QLD Beginner;
    color: blanchedalmond;
    letter-spacing: 2px;
}

.tombol {
    margin: 30px auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
